<html>

    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>

    <body>

        <h1>Hello World!</h1>

        <a href="/edit">Neu</a>

        <table>

            <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Telefon</th>
                    <th>E-Mail</th>
                </tr>
            </thead>

            <tbody>

                {{#each addr}}
                    <tr>
                        <td>{{this.firstname}}</td>
                        <td>{{this.lastname}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td><a href="/delete/{{this.id}}">delete</a></td>
                    </tr>
                {{/each}}

            </tbody>

        </table>
    </body>

</html>